<nav class="bg-gray-800">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <%= link_to root_path, class: "flex items-center space-x-2 text-gray-300 hover:text-white uppercase tracking-tight font-bold" do %>
            <%= image_tag("logo_new.png", alt: "Logo", class: "h-8 w-8") %>
            <span>Mycommerce.md</span>
          <% end %>
        </div>
        <div class="hidden md:block">
          <div class="ml-10 flex items-baseline space-x-4">
            <%= navigation_link "Orders", orders_path %>
            <%= navigation_link "Shipments", shipments_path %>
            <%= navigation_link "Products", products_path %>
            <%= navigation_link "Coupons", coupons_path %>
            <%= navigation_link "Time Promotions", time_promotions_path %>
            <%= navigation_link "Customers", customers_path %>
            <%= navigation_link "VAT Rates", available_vat_rates_path %>
            <%= navigation_link "Client View", clients_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
