<% content_for(:header) do %>
  Happy Hours
<% end %>

<% content_for(:actions) do %>
  <%= primary_action_button do %>
    <%= link_to 'New Happy Hour', new_happy_hour_path %>
  <% end %>
<% end %>

<table class="w-full">
  <thead>
  <tr>
    <th class="text-left py-2">Name</th>
    <th class="text-left py-2">Code</th>
    <th class="text-left py-2">Discount %</th>
    <th class="text-left py-2">Start Hour</th>
    <th class="text-left py-2">End Hour</th>
    <th class="text-left py-2 w-1/2">Products discounted</th>
  </tr>
  </thead>

  <tbody>
  <% @happy_hours.each do |happy_hour| %>
    <tr class="border-t">
      <td class="py-2"><%= happy_hour.name %></td>
      <td class="py-2"><%= happy_hour.code %></td>
      <td class="py-2"><%= happy_hour.discount %></td>
      <td class="py-2"><%= happy_hour.start_hour %></td>
      <td class="py-2"><%= happy_hour.end_hour %></td>
      <td class="py-2"><%= product_names_for(happy_hour) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
