<% content_for(:header) do %>
  New VAT Rate
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', available_vat_rates_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Create VAT Rate
  <% end %>
<% end %>


<%= form_tag({ controller: "available_vat_rates", action: "create" }, method: "post", id: "form") do %>
  <div>
    <label for="code" class="block font-bold">
      Code
    </label>
    <%= text_field_tag :code, "", required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md", data: { turbo_permanent: true } %>
  </div>
  <div class="mt-2">
    <label for="rate" class="block font-bold">
      Rate
    </label>
    <%= number_field_tag :rate, nil, min: 0, step: 1.0, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md", data: { turbo_permanent: true } %>
  </div>

  <% if defined?(errors) %>
    <% errors.each do |error| %>
      <div class="mt-2 text-red-600">
        <span><%= error.full_message %></span>
      </div>
    <% end %>
  <% end %>
<% end %>
