<% content_for(:header) do %>
  Invoice: <%= @order.number %>
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', order_path(@order) %>
  <% end %>
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Invoiced by</dt>
  <dd class="mb-2"><%= "Arkency Ecommerce" %></dd>
  <dt class="font-bold">Invoice date</dt>
  <dd class="mb-2">2021.11.15</dd>
  <dt class="font-bold">Customer</dt>
  <dd class="mb-2"><%= @order.customer %></dd>
</dl>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Product</th>
      <th class="text-left py-2">Quantity</th>
      <th class="text-left py-2">Price</th>
      <th class="text-right py-2">Value</th>
    </tr>
  </thead>

  <tbody>
  <% @order_lines.each do |item| %>
    <tr class="border-t">
      <td class="py-2"><%= item.product_name %></td>
      <td class="py-2"><%= item.quantity %></td>
      <td class="py-2"><%= number_to_currency(item.price) %></td>
      <td class="py-2 text-right"><%= number_to_currency(item.value) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
    <% if @order.percentage_discount %>
    <tr class="border-t">
      <td class="py-2" colspan="3">Discount</td>
      <td class="py-2 text-right"><%= @order.percentage_discount %>%</td>
    </tr>
    <% end %>
    <tr class="border-t">
      <td class="py-2" colspan="3">Sales tax:</td>
      <td class="py-2 text-right">0%</td>
    </tr>
    <tr class="border-t">
      <td class="py-2" colspan="3">Total</td>
      <td class="py-2 text-right font-bold"><%= number_to_currency(@order.discounted_value) %></td>
    </tr>
  </tfoot>
</table>
