<% content_for(:header) do %>
  Invoice: <%= @invoice.number %>
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', order_path(@invoice.order_uid) %>
  <% end %>
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Invoiced by</dt>
  <dd class="mb-2"><%= "Arkency Ecommerce" %></dd>
  <dt class="font-bold">Issue date</dt>
  <dd class="mb-2"><%= @invoice.issue_date %></dd>
  <dt class="font-bold">Disposal date</dt>
  <dd class="mb-2"><%= @invoice.disposal_date %></dd>
  <dt class="font-bold">Payment date</dt>
  <dd class="mb-2"><%= @invoice.payment_date %></dd>
  <dt class="font-bold">Customer</dt>
  <dd class="mb-2">
    <%= @invoice.tax_id_number %><br/>
    <%= @invoice.address_line_1 %><br/>
    <%= @invoice.address_line_2 %><br/>
    <%= @invoice.address_line_3 %><br/>
    <%= @invoice.address_line_4 %>
  </dd>
</dl>

<table class="w-full">
  <thead>
  <tr>
    <th class="text-left py-2">Product</th>
    <th class="text-left py-2">VAT rate</th>
    <th class="text-left py-2">Quantity</th>
    <th class="text-left py-2">Unit Price</th>
    <th class="text-right py-2">Value</th>
  </tr>
  </thead>

  <tbody>
  <% @invoice.invoice_items.each do |item| %>
    <tr class="border-t">
      <td class="py-2"><%= item.name %></td>
      <td class="py-2"><%= item.vat_rate %></td>
      <td class="py-2"><%= item.quantity %></td>
      <td class="py-2"><%= number_to_currency(item.unit_price) %></td>
      <td class="py-2 text-right"><%= number_to_currency(item.value) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr class="border-t">
    <td class="py-2" colspan="4">Total</td>
    <td class="py-2 text-right font-bold"><%= number_to_currency(@invoice.total_value) %></td>
  </tr>
  </tfoot>
</table>
