<% content_for(:header) do %>
  New Customer
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', customers_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Create Customer
  <% end %>
<% end %>

<%= form_with model: @customer, id: "form" do |form| %>
  <label for="first_name" class="block font-bold">
    First Name
  </label>
  <%= form.text_field :first_name, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <label for="last_name" class="block font-bold">
    Last Name
  </label>
  <%= form.text_field :last_name, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  <label for="email" class="block font-bold">
    Email
  </label>
  <%= form.text_field :email, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
<% end %>
