<% content_for(:header) do %>
  Customer Page
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Name</dt>
  <dd class="mb-2"><%= @customer.name %></dd>
  <dt class="font-bold">VIP</dt>
  <dd class="mb-2"><%= @customer.vip? ? "Yes" : "No" %> </dd>
</dl>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Order</th>
      <th class="text-left py-2">State</th>
      <th class="text-right py-2">Price</th>
    </tr>
  </thead>

  <tbody>
  <% @customer_orders.each do |order| %>
    <tr class="border-t">
      <td class="py-2"><%= link_to order.number || 'Not submitted', order_path(order.order_uid), class: "text-blue-500 hover:underline" %></td>
      <td class="py-2 text-left"><%= order.state %></td>
      <td class="py-2 text-right"><%= number_to_currency(order.discounted_value) %></td>
    </tr>
  <% end %>
  <tr class="border-t font-bold">
    <td colspan="2" class="py-2 font-bold">Total paid orders</td>
    <td class="py-2 text-right"><%= number_to_currency(@customer.paid_orders_summary) %></td>
  </tr>
  </tbody>
</table>


<div class="mt-8 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
  <div>
    <%= page_entries_info @customer_orders %>
  </div>
  <div>
    <%= paginate @customer_orders %>
  </div>
</div>
