<% content_for(:header) do %>
  <%= @client.name %>
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Log out', client_path %>
  <% end %>
<% end %>


<div>
  <% if @client_orders.count > 0 %>
  <table class="w-full">
    <thead>
    <tr>
      <th class="text-left py-2">Number</th>
      <th class="text-right py-2">State</th>
    </tr>
    </thead>

    <tbody>
    <% @client_orders.each do |order| %>
      <tr class="border-t">
        <td class="py-2"><%= link_to order.number || 'Not submitted', order_path(order.order_uid), class: "text-blue-500 hover:underline" %></td>
        <td class="py-2 text-right"><%= order.state %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <% else %>
    No orders to display.
  <% end %>
</div>