<% content_for(:header) do %>
  Supply
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Supply
  <% end %>
<% end %>

<%= form_tag({controller: "supplies", action: "create"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:product_id, @product_id) %>

  <label for="quantity" class="block font-bold">
    Quantity
  </label>
  <%= number_field_tag :quantity, nil, min: 1, step: 1, id: "quantity", class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
<% end %>
