<%= turbo_stream_from "time_promotions" %>
<% content_for(:header) do %>
  Time Promotions
<% end %>

<% content_for(:actions) do %>
  <%= primary_action_button do %>
    <%= link_to 'New Time Promotion', new_time_promotion_path, data: { turbo_frame: 'modal' } %>
  <% end %>
<% end %>

<table id="time_promotions_table" class="w-full">
  <thead>
  <tr>
    <th class="text-left py-2">Label</th>
    <th class="text-left py-2">Discount %</th>
    <th class="text-left py-2">Start Time</th>
    <th class="text-left py-2">End Time</th>
  </tr>
  </thead>

  <tbody>
  <% @time_promotions.each do |time_promotion| %>
    <tr class="border-t">
      <td class="py-2"><%= time_promotion.label %></td>
      <td class="py-2"><%= time_promotion.discount %></td>
      <td class="py-2"><%= time_promotion.start_time %></td>
      <td class="py-2"><%= time_promotion.end_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>
