<%= turbo_frame_tag "modal" do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', time_promotions_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Create Time Promotion
  <% end %>

  <%= form_tag({ controller: "time_promotions", action: "create" }, method: "post", id: "form") do %>
    <label for="label" class="block font-bold">
      Label
    </label>
    <%= text_field_tag :label, "",
                       id: "label",
                       required: true,
                       class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"
    %>

    <label for="discount" class="block font-bold">
      Discount
    </label>
    <%= number_field_tag :discount, nil,
                         min: 1,
                         max: 100,
                         step: 1,
                         id: "discount",
                         required: true,
                         class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md"
    %>

    <label for="start_time" class="block font-bold">
      Start time
    </label>
    <%= datetime_field_tag :start_time, nil,
                           id: "start_time",
                           class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",
                           required: true
    %>

    <label for="end_time" class="block font-bold">
      End time
    </label>
    <%= datetime_field_tag :end_time, nil,
                           id: "end_time",
                           class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md",
                           required: true
    %>
  <% end %>
<% end %>