<% content_for(:header) do %>
  Orders
<% end %>

<% content_for(:actions) do %>
  <%= button_to("Expire orders", expire_orders_path, class: "inline-flex items-center px-4 py-2 border rounded-md shadow-sm text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-50 border-gray-300 text-gray-700 bg-white hover:bg-gray-50 mr-2") %>

  <%= primary_action_button do %>
    <%= link_to 'New order', new_order_path, data: { turbo: false } %>
  <% end %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Number</th>
      <th class="text-left py-2">Customer</th>
      <th class="text-right py-2">State</th>
    </tr>
  </thead>

  <tbody>
  <% @orders.each do |order| %>
    <%= turbo_stream_from "orders_order_#{order.uid}" %>
    <tr class="border-t">
      <td class="py-2"><%= link_to order.number || 'Not submitted', order_path(order.uid), class: "text-blue-500 hover:underline" %></td>
      <td class="py-2"><%= order.customer %></td>
      <td class="py-2 text-right" id="<%= "orders_order_#{order.uid}_state" %>"><%= order.state %></td>
    </tr>
  <% end %>
  </tbody>
</table>


<div class="mt-8 hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
  <div>
    <%= page_entries_info @orders %>
  </div>
  <div>
    <%= paginate @orders %>
  </div>
</div>