<% content_for(:header) do %>
  Discount
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', edit_order_path(@order_id) %>
  <% end %>

  <%= primary_form_action_button do %>
    Set Discount
  <% end %>
<% end %>

<%= form_tag({controller: "orders", action: "update_discount"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:order_id, @order_id) %>
  <label for="discount" class="block font-bold">
    Percentage
  </label>
  <%= number_field_tag :amount, 20, min: 10, max: 100, step: 10, id: "discount", class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
<% end %>