<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table class="table mb-5">
  <thead>
    <tr>
      <th>Number</th>
      <th>Customer</th>
      <th>State</th>
      <th>History</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.number || 'Not submitted', order_path(order) %></td>
        <td><%= order.customer %></td>
        <td><%= order.state %></td>
        <td><%= order_history_link(order.uid) %></td>
        <td><%= link_to("Pay", pay_order_path(order.uid), method: :post) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %>
<%= link_to 'Manage your products', products_path, class: "btn btn-outline-secondary" %>
<%= link_to 'Manage customers', customers_path, class: "btn btn-outline-secondary" %>
<%= link_to 'Expire orders', expire_orders_path, class: "btn btn-outline-danger", method: :post %>

