<% content_for(:header) do %>
  New Order
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', orders_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Submit Order
  <% end %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Product</th>
      <th class="text-left py-2" colspan="3">Price</th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr class="border-t">
      <td class="py-2"><%= product.name %></td>
      <td class="py-2"><%= number_to_currency(product.price) %></td>
      <td class="py-2">
        <%= link_to "Add", add_item_order_path(id: @order_id, product_id: product.id), {method: :post, class: "text-blue-500 hover:underline"} %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag({controller: "orders", action: "create"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:order_id, @order_id) %>

  <div class="mt-8">
    <label for="customer" class="block font-bold">
      Customer
    </label>
    <%= select_tag(:customer_id, options_from_collection_for_select(@customers, :id, :name), id: "customer", class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md") %>
  </div>
<% end %>
