<p id="notice"><%= notice %></p>
<h1>Order: <%= @order.number %></h1>
<p>
Customer: <%= @order.customer %>
</p>
<p>
State: <%= @order.state %>
</p>
<h2>Order lines</h2>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Value</th>
    </tr>
  </thead>

  <tbody>
  <% @order_lines.each do |item| %>
    <tr>
    <td><%= item.product_name %></td>
    <td><%= item.quantity %></td>
    <td><%= number_to_currency(item.price) %></td>
    <td><%= number_to_currency(item.value) %></td>
  </tr>
<% end %>
  </tbody>
  <tr>
    <td>Total:</td>
    <td colspan="2"></td>
    <td><strong><%= number_to_currency(@order.discounted_value) %></strong></td>
  </tr>
</table>
<% if @order.percentage_discount %>
  <p>Discount applied: <strong><%= @order.percentage_discount %>%</strong></p>
<% end %>
<br/>
<%= link_to 'Back', orders_path, class: "btn btn-default" %>
