<table class="w-full">
  <thead>
    <tr class="border-b">
      <th class="text-left py-2">Product</th>
      <th class="text-left py-2">Quantity</th>
      <th class="text-left py-2">Price</th>
      <th class="text-left py-2" colspan="3">Value</th>
    </tr>
  </thead>

  <tbody>
  <%= turbo_stream_from "client_orders_#{@order_id}" %>
  <% @products.each do |product| %>
    <tr class="border-b">
      <% order_line = @order_lines&.find{|order_line| order_line.product_id == product.uid} %>
      <td class="py-2"><%= product.name %></td>
      <td class="py-2" id="<%= "client_orders_#{product.uid}_product_quantity" %>"><%= order_line.try(&:product_quantity) || 0 %></td>
      <td class="py-2"><%= number_to_currency(product.price) %></td>
      <td class="py-2"  id="<%= "client_orders_#{product.uid}_value" %>"><%= number_to_currency(order_line.try(&:value)) %></td>
      <td class="py-2 text-right">
        <%= button_to "Add", add_item_client_order_path(id: @order_id, product_id: product.uid), class: "hover:underline text-blue-500" %>
      </td>
      <td class="py-2 text-right">
        <%= button_to "Remove", remove_item_client_order_path(id: @order_id, product_id: product.uid), class: "hover:underline text-blue-500" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= form_tag({controller: "client/orders", action: "create"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:order_id, @order_id) %>

  <div class="mt-8">
    <%= submit_tag("Create Order", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded") %>
  </div>
<% end %>
