<% content_for(:header) do %>
  Order <%= @order.number %>
<% end %>

<% content_for(:actions) do %>

  <%= secondary_action_button do %>
    <%= link_to 'Back', client_orders_path %>
  <% end %>

<% end %>

<dl class="mb-8">
  <dt class="font-bold">State</dt>
  <dd class="mb-2"><%= @order.state %></dd>
</dl>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Product</th>
      <th class="text-left py-2">Quantity</th>
      <th class="text-left py-2">Price</th>
      <th class="text-right py-2">Value</th>
    </tr>
  </thead>

  <tbody>
  <% @order_lines.each do |item| %>
    <tr class="border-t">
      <td class="py-2"><%= item.product_name %></td>
      <td class="py-2"><%= item.product_quantity %></td>
      <td class="py-2"><%= number_to_currency(item.product_price) %></td>
      <td class="py-2 text-right"><%= number_to_currency(item.value) %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot class="border-t-4">
    <% if @order.discounted_value != @order.total_value %>
      <tr class="border-t">
        <td class="py-2" colspan="3">Before discounts</td>
        <td class="py-2 text-right" id="before-discounts-value"><%= number_to_currency(@order.total_value) %></td>
      </tr>
    <% end %>
    <% if @order.percentage_discount %>
    <tr class="border-t">
      <td class="py-2" colspan="3">General discount</td>
      <td class="py-2 text-right"><%= @order.percentage_discount %>%</td>
    </tr>
    <% end %>

    <tr class="border-t">
      <td class="py-2" colspan="3">Total</td>
      <td class="py-2 text-right font-bold"><%= number_to_currency(@order.discounted_value) %></td>
    </tr>
  </tfoot>
</table>
