<% content_for(:header) do %>
  Edit Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_button_to(add_future_price_path) do %>
    Add future price
  <% end %>

  <%= primary_form_action_button do %>
    Update Product
  <% end %>
<% end %>

<%= form_with model: @product, id: "form", method: :patch do |form| %>
  <div class="mt-2">
    <label for="vat_rate" class="block font-bold">
      Product Name
    </label>
    <%= form.text_field :name, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="mt-2">
    <label for="vat_rate" class="block font-bold">
      VAT rate
    </label>
    <%= @product.vat_rate %>
  </div>
  <div class="mt-2">
    <label for="price" class="block font-bold">
      Price
    </label>
    <%= form.number_field :price, min: 0, step: 0.01, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md", data: { turbo_permanent: true } %>
  </div>

  <div id="future_prices" class="mt-2">
  </div>
<% end %>
