<% content_for(:header) do %>
  Edit Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_button_to(add_future_price_product_path(@product)) do %>
    Add future price
  <% end %>

  <%= primary_form_action_button do %>
    Update Product
  <% end %>
<% end %>

<%= form_tag({controller: "products", action: "update"}, method: "patch", id: "form") do %>
  <%= hidden_field_tag(:product_id, @product.id) %>

  <div>
    <p class="font-bold">Name</p>
    <%= @product.name %>
  </div>
  <div class="mt-2">
    <label for="vat_rate" class="block font-bold">
      VAT rate
    </label>
    <%= @product.vat_rate_code %>
  </div>
  <div class="mt-2">
    <label for="price" class="block font-bold">
      Price
    </label>
    <%= number_field_tag :price, @product.price, min: 0, step: 0.01, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>

  <% if @product.future_prices_calendar.any? %>
    <label for="future_prices" class="mt-6 block font-bold">
      Future prices:
    </label>
    <% @product.future_prices_calendar.each do |entry| %>
      <%= render partial: "products/future_price", locals: {
        disabled: true,
        price: entry[:price],
        valid_since: entry[:valid_since] }
      %>
    <% end %>
  <% end %>
  <div id="future_prices" class="mt-2">
  </div>
<% end %>
