<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th colspan="2">Stock level</th>
  </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= product.stock_level %></td>
      <td><%= link_to 'Supply', new_product_supply_path(product) %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "btn btn-primary" %>