<% content_for(:header) do %>
  Products
<% end %>

<% content_for(:actions) do %>
  <%= primary_action_button do %>
    <%= link_to 'New Product', new_product_path %>
  <% end %>
<% end %>

<table class="w-full">
  <thead>
    <tr>
      <th class="text-left py-2">Name</th>
      <th class="text-left py-2">Price</th>
      <th class="text-right py-2">Stock Level</th>
    </tr>
  </thead>

  <tbody>
  <% @products.each do |product| %>
    <tr class="border-t">
      <td class="py-2"><%= link_to product.name, product_path(product), class: "hover:underline text-blue-500" %></td>
      <td class="py-2"><%= number_to_currency product.price %></td>
      <td class="py-2 text-right"><%= product.stock_level %></td>
    </tr>
  <% end %>
  </tbody>
</table>