<% content_for(:header) do %>
  New Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_form_action_button do %>
    Create Product
  <% end %>
<% end %>

<%= form_tag({controller: "products", action: "create"}, method: "post", id: "form") do %>
  <%= hidden_field_tag(:product_id, @product_id) %>

  <div>
    <label for="name" class="block font-bold">
      Name
    </label>
    <%= text_field_tag :name, "", required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>
  <div class="mt-2">
    <label for="price" class="block font-bold">
      Price
    </label>
    <%= number_field_tag :price, nil, min: 0, step: 0.01, required: true, class: "mt-1 focus:ring-blue-500 focus:border-blue-500 block shadow-sm sm:text-sm border-gray-300 rounded-md" %>
  </div>
<% end %>
