<% content_for(:header) do %>
  Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_action_button do %>
    <%= link_to 'Supply', new_product_supply_path(product_id: @product.id) %>
  <% end %>
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Name</dt>
  <dd class="mb-2"><%= @product.name %></dd>
  <dt class="font-bold">Price</dt>
  <dd class="mb-2"><%= number_to_currency @product.price %>
    <%= link_to "Edit product price",
                edit_product_path(@product.id),
                class: 'px-2 py-1 border rounded-md shadow-sm text-xs font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border-transparent text-white bg-blue-600 hover:bg-blue-700'
    %>
  </dd>
  <dt class="font-bold">VAT rate</dt>
  <dd class="mb-2"><%= @product.vat_rate_code %></dd>
  <dt class="font-bold">Stock Level</dt>
  <dd class="mb-2 mt-2"><%= @product.stock_level %></dd>
</dl>

<dl class="pt-8 mt-6">
  <dd class="mb-6 mt-6 font-bold leading-9">Future prices</dd>
  <dt>
    <table class="w-full">
      <thead>
        <tr>
          <th class="text-left py-2">Price</th>
          <th class="text-left py-2">Valid since</th>
        </tr>
      </thead>
      <tbody>
        <% @product.future_prices_calendar.each do |item| %>
          <tr class="border-t">
            <td class="py-2"><%= item[:price] %></td>
            <td class="py-2"><%= item[:valid_since] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </dt>
</dl>
