<% content_for(:header) do %>
  Product
<% end %>

<% content_for(:actions) do %>
  <%= secondary_action_button do %>
    <%= link_to 'Back', products_path %>
  <% end %>

  <%= primary_action_button do %>
    <%= link_to 'Supply', new_product_supply_path(product_id: @product.id) %>
  <% end %>
<% end %>

<dl class="mb-8">
  <dt class="font-bold">Name</dt>
  <dd class="mb-2"><%= @product.name %></dd>
  <dt class="font-bold">Price</dt>
  <dd class="mb-2"><%= number_to_currency @product.price %>
    <%= link_to "Edit product price",
                edit_product_path(@product.id),
                class: 'px-2 py-1 border rounded-md shadow-sm text-xs font-medium focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 border-transparent text-white bg-blue-600 hover:bg-blue-700'
    %>
  </dd>
  <dt class="font-bold">VAT rate</dt>
  <dd class="mb-2"><%= @product.vat_rate_code %></dd>
  <dt class="font-bold">Stock Level</dt>
  <dd class="mb-2 mt-2"><%= @product.stock_level %></dd>
</dl>

<% if @product.future_prices_calendar.any? %>
  <dl class="pt-4">
    <label for="future_prices" class="mt-6 block font-bold">
      Future prices:
    </label>
    <% @product.future_prices_calendar.each do |entry| %>
      <%= render partial: "products/future_price", locals: {
        disabled: true,
        price: entry[:price],
        valid_since: entry[:valid_since] }
      %>
    <% end %>
    </dt>
  </dl>
<% end %>
